.wrapper {
    width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: var(--accents-2);
    position: relative;
}

.icon {
    font-size: 1.5em;
    transition: color .5s ease;
}

.wrapper:has(input:focus) {
    color: var(--white);
}

.list {
    top: auto; 
    bottom: calc(100% + .5em);
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em; 
    z-index: 2;
}