.wrapper {
    position: relative;
}

.fbutton {
    color: var(--accents-5);
    outline: .1em solid var(--accents-2);
    padding: .25em .5em;
    border-radius: .25em;
    transition: all .5s ease;
    cursor: pointer;
}

.fbutton:hover {
    outline: .1em solid var(--white);
    color: var(--white);
}

.form {
    position: absolute;
    top: -.25em; 
    left: 0;
    padding: .5em; 
    background-color: var(--black);
    outline: .1em solid var(--accents-2);
    border-radius: .25em;
    min-width: 17.5em;
    height: 15em;
    display: flex;
    flex-direction: column;
    gap: .75em;
    z-index: 1;
}

.title {
    color: var(--accents-5);
    font-size: .9em;
}

.customForm {
    display: flex;
    flex-direction: column;
    gap: .5em; 
}

.buttonSection {
    display: flex;
    gap: 2em; 
    align-items: center;
    justify-content: space-between;
    margin-top: .5em;
    padding: .5em 0;
}

.titleButton {
    font-size: .9em;
}

.emojiPicker {
    display: flex;
    gap: .5em; 
}

.alert {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.titleAlert-error {
    color: var(--red); 
}

.titleAlert-successful {
    color: var(--green); 
}

.descriptionAlert {
    color: var(--white); 
    font-size: .75em;
    margin-bottom: 1em;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2.5em; 
}